#sidemenu-container {
    display: block;
    position: fixed;
    background-color: rgba(200, 200, 200, 1.0);
    top: 0;
    left: 70%;
    width: 30vw;
    height: 100vh;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
}

#sidemenu-container.shown {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
}

#sidemenu-container.hidden {
    transform: translate3d(28vw, 0, 0);
}

.sidemenu-tab {
    float: left;
    width: 2vw;
    height: 100vh;
    background-color: rgba(73, 73, 57, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

img#sidemenu-tab-arrow {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.0);
}

img#sidemenu-tab-arrow.shown {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

img#sidemenu-tab-arrow.hidden {
}

.sidemenu-body {
    padding-left: 2vw;
    padding-top: 1vw;
}

.sidemenu-body-head {
    padding-left: 1vw;
    font-weight: bold;
    font-size: 2em;
}

.sidemenu-body-content {
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

table.sidemenu-settings tr {
    border: 1px solid black;
}

table.sidemenu-settings {
    border: 1px solid black;
    border-collapse: collapse;
}
